<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Outlier5 Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td align="center" bgcolor="#14213d" style="padding: 40px 0 30px 0;">
        <img src="cid:logo@cid" alt="Criando Mágica de E-mail" width="100%" height="auto" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td bgcolor ="#ffffff" style="padding: 40px 30px 40px 30px;border: 1px solid #cccccc;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="color: #14213d; font-family: Arial, sans-serif; font-size: 24px;">
            <b>Email de Recuperação de Senha</b>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 30px 0; color: #14213d; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
            Esse é um email automático para recuperação de senha, caso não tenha solicitado desconsidere.
            </td>
        </tr>
        <tr>
            <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center">
                        <a href="{{ appUrl }}auth/resetPage?token={{ token }}&email={{ email }}">
                          <button style="
                            font-family: Arial, sans-serif; font-size: 14px;
                            background-color: #14213d;
                            color: #fff;
                            border: none;
                            border-radius: 5px;
                            width: 300px;
                            height: 100px;
                            ">Ir Para Recuperação de Senha</button>
                        </a>
                       </td>
                    </tr>
                    </table>
            </td>
        </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#10131f" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="75%" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                Para duvidas use o email abaixo<br/>
                <a href="#">contato@outilier5.com</a>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    </table>
</body>
</html>
